streamlit
groq
torch
torchvision
torchaudio
transformers
sentence-transformers
faiss-cpu
rank-bm25
python-dotenv
pillow
PyPDF2
python-docx
pandas
numpy
scikit-learn
tqdm
opencv-python
pytesseract
matplotlib